<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="/Styles/styles.css">
</head>
<body>
<h1>Available Products</h1>

<!-- Повідомлення про помилки або успішні операції -->
<div class="message"
     th:classappend="${messageType}"
     th:text="${message}"
     id="messageBox"></div>

<!-- Форма для фільтрації продуктів за ціною -->
<form method="get" action="/products" style="margin-bottom: 20px;">
    <label for="minPrice">Min Price:</label>
    <input type="number" step="0.01" id="minPrice" name="minPrice" placeholder="Enter min price">

    <label for="maxPrice">Max Price:</label>
    <input type="number" step="0.01" id="maxPrice" name="maxPrice" placeholder="Enter max price">

    <button type="submit">Filter</button>
</form>

<!-- Таблиця для відображення продуктів -->
<table>
    <thead>
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td><img th:src="@{${product.imagePath}}" alt="Product Image" width="100"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
    </tr>
    </tbody>
</table>
<div><button onclick="window.location.href='/rooms';" style="padding: 10px 20px; font-size: 16px; margin-left: 10px;">Go Back</button>
</div>

<script src="/js/scripts.js"></script>

<!-- Футер -->
<footer style="margin-top: 20px; text-align: center;">
    <p>Find us on GitHub:
        <a href="https://github.com/dsfgdfsdf" target="_blank" style="text-decoration: none; color: blue;">Made Mukola Barda 405 Group</a>
    </p>
</footer>
</body>
</html>
